language: c
install: wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-opam.sh
script: bash -ex .travis-opam.sh
sudo: required
env:
  - OCAML_VERSION=4.02 PACKAGE=dispatch
  - OCAML_VERSION=4.01 PACKAGE=dispatch
